/* general */
.themeGreenBg {
  background-color: #144854 !important;
}

.themeGreenTextColor {
  background-color: #144854 !important;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

@font-face {
  font-family: "Helvetica Neue1";
  src: url("../fontFamily/Helvetica35Thin_22435.ttf");

  font-family: "Helvetica Neue2";
  src: url("../fontFamily/Helvetica25UltraLight_22433.ttf");
}

* {
  font-family: "Helvetica Neue";
}

p {
  font-weight: 400 !important;
}

.fs-14 {
  font-size: 0.9rem;
}

.fs-9 {
  font-size: 9px !important;
}

.nav-link {
  color: white !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 2.5rem;
  padding-left: 2.5rem;
}

.whiteText {
  color: white !important;
}

/* end of general */

.narbarUnderline {
  border-bottom: 1px solid #979797;
}

.main-search-container {
  /* display: block; */
  width: 100%;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  /* height: 70vh; */
  z-index: 9;
  height: 300px;
}

.narbarInfoDesc {
  position: relative;
}

.narbarInfoBtn {
  background-color: #ff8e00 !important;
  border: #ff8e00;
  border-radius: 20px;
  position: relative;
  top: 16px;
}

@media (max-width: 1366px) {
  .main-search-container {
    height: 300px;
  }
}

/* Our Courses */
.courseImgs {
  width: 100% !important;
  max-width: 160px !important;
}

/* Our Partner */
.partnerImg {
  /* width: 100% !important; */
}

/* Lab */
.labBg {
  background-image: url("../images/ourLab/bg.png");
  height: fit-content;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-size: auto; */
}

/* history */
/* 1.实心矩形 */
.one {
  width: 200px;
  height: 100px;
  /* margin: 0 auto; */
  float: left;
  padding: 8px;
  text-align: justify;
  border-radius: 10px;
  background-color: #f2f2f2;
  position: relative; /*子绝父相*/
}

/* 2.添加伪元素，在这里添加三角形 */
.one:before {
  /*伪元素必须添加content*/
  content: "";
  width: 0;
  height: 0;
  /*IE6下，height:0;不顶用，可使用font-size:0; + overflow:hidden;修复此问题*/
  font-size: 0;
  overflow: hidden;
  display: block;
  border-width: 15px;
  border-color: transparent #f2f2f2 transparent transparent;
  /*为了兼容IE6，所有设置为透明（transparent）的边，需要设置为dashed；有颜色的边设置为solid*/
  border-style: solid dashed dashed dashed;
  position: absolute; /*绝对定位不占位置*/
  top: 35px; /* 向下移动 矩形的高度 + 矩形的上下内边距 + 下边框粗细*/
  left: -15%; /*相对于矩形宽度的位置*/
}

/* 1.实心矩形 */
.two {
  width: 200px;
  height: 100px;
  float: right;
  padding: 8px;
  text-align: justify;
  border-radius: 10px;
  background-color: #f2f2f2;
  position: relative; /*子绝父相*/
}

/* 2.添加伪元素，在这里添加三角形 */
.two:before {
  /*伪元素必须添加content*/
  content: "";
  width: 0;
  height: 0;
  /*IE6下，height:0;不顶用，可使用font-size:0; + overflow:hidden;修复此问题*/
  font-size: 0;
  overflow: hidden;
  display: block;
  border-width: 15px;
  border-color: transparent transparent transparent #f2f2f2;
  /*为了兼容IE6，所有设置为透明（transparent）的边，需要设置为dashed；有颜色的边设置为solid*/
  border-style: solid dashed dashed dashed;
  position: absolute; /*绝对定位不占位置*/
  top: 35px; /* 向下移动 矩形的高度 + 矩形的上下内边距 + 下边框粗细*/
  right: -15%; /*相对于矩形宽度的位置*/
}

@media (min-width: 768px) {
  .fs-storyTelling {
    font-size: 14px !important;
  }

  .mt-storyTelling {
    margin-top: 48px !important;
  }

  .one {
    margin: 0 auto;
    height: 150px;
    padding: 12px;
    width: 400px;
  }

  .two {
    margin: 0 auto;
    width: 400px;
    padding: 12px;
    height: 150px;
  }

  .one:before {
    top: 60px; /* 向下移动 矩形的高度 + 矩形的上下内边距 + 下边框粗细*/
    left: -7.5%; /*相对于矩形宽度的位置*/
  }

  .two:before {
    top: 60px; /* 向下移动 矩形的高度 + 矩形的上下内边距 + 下边框粗细*/
    right: -7.5%; /*相对于矩形宽度的位置*/
  }
}

@media (device-width: 320px) {
  .one {
    width: 185px;
  }

  .two {
    width: 185px;
  }
}
