.divider-asda {
  border-bottom: 3px solid #e8e8e8 !important;
  width: 160px !important;
  border-top: 0px;
  margin-bottom: 0.2rem;
  margin-top: 0.2rem;
  line-height: 1em;
  height: 2px;
}

.text-dark2 {
  color: #4a4a4a;
}

ol,
li.asd2 {
  padding: 0;
  margin: 0;
  list-style: decimal !important;
}

li.asd-2 {
  padding: 0;
  margin: 0;
  list-style: circle !important;
}

.list-style-dashed > li::before {
  content: "-";
}

.asd-asd-tick::before {
  content: "✓ ";
}

.coursesContent {
  max-width: 880px !important;
}
