#welcome {
  background-image: url(../images/new/banner2.png);
  height: 60vh;
}

.welcome-area {
  background-color: black !important;
}

.divider-asda {
  border-bottom: 3px solid #e8e8e8 !important;
  width: 60px !important;

  border-top: 0px;
  margin-bottom: 0.2rem;
  margin-top: 0.2rem;
  line-height: 1em;
  height: 2px;
}

.h1-fix {
  font-weight: 900 !important;
  font-size: 5rem !important;
}

.news-header {
  margin-top: 10% !important;
  margin-left: 10% !important;
}

.newsContainer {
  padding: 120px 0px;
  border-bottom: 1px solid #eee;
}

#news-section {
  padding: 120px 0px;
  border-bottom: 1px solid #eee;
}

/* from x */

.post img {
  width: 80%;
  display: block;
  margin: 20px auto !important;
}

img,
pre {
  max-width: 55%;
}

.post-info {
  padding: 0;
  margin-bottom: 1rem;
  margin-top: 1.2rem;
  font-size: 0.9rem;
  color: #999;
  width: 100%;
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  display: inline-block;
  border: none;
}

.newContent {
  max-width: 680px !important;
}

/* from x */

@media (min-width: 360px) {
}

@media (min-width: 768px) {
  #welcome {
    height: 60vh !important;
  }
}

@media (max-width: 765px) {
  #news-section {
    /* padding: 40px 0px 40px 0px !important; */
    padding: 120px 0px 40px 0px !important;
  }

  .welcome-area .header-text h1 {
    font-size: 5rem !important;
  }

  .px-mobile-15 {
    padding: 0px 1rem;
  }
}

@media (max-width: 414px) {
  .welcome-area .header-text h1 {
    font-size: 3.5rem !important;
  }

  #welcome {
    height: 50vh !important;
  }
}

@media (max-width: 992px) {
}

@media (device-width: 1024px) {
  #welcome {
    height: 45vh !important;
  }
}
